:root{
    --#{$prefix}nav-link-padding-x: #{$nav-link-padding-x};
    --#{$prefix}nav-link-padding-y: #{$nav-link-padding-y};
    @include rfs($nav-link-font-size, --#{$prefix}nav-link-font-size);
    --#{$prefix}nav-link-font-weight: #{$nav-link-font-weight};
    --#{$prefix}nav-link-color: #{$nav-link-color};
    --#{$prefix}nav-link-hover-color: #{$nav-link-hover-color};
    --#{$prefix}nav-link-disabled-color: #{$nav-link-disabled-color};
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body >* {
    border: 0.5px dashed var(--bs-red);
}
header>*{
    border: 0.5px dashed var(--bs-green)
}
.nav>*{
    border: 0.5px dashed var(--bs-red);
}
ul{
    margin: 0;
}

/* header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
} */

.my-img-bg{
    background-color: blueviolet;
}