
.nav{
    --bs-nav-link-color: #141619;    
    --bs-nav-link-hover-color: red;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body >* {
    border: 0.5px dashed var(--bs-red);
}
header>*{
    border: 0.5px dashed var(--bs-green)
}
.nav>*{
    border: 0.5px dashed var(--bs-red);
}
ul{
    margin: 0;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
section{
    padding: 2rem 0;
}

.my-img-bg{
    background-color: blueviolet;
    margin-top: 5.5rem;
}
.my-card{

}